{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col col-4">
        <img src="https://m.media-amazon.com/images/M/MV5BZmU5ZDE5NTItN2I1YS00ZmFmLTk3YTgtNzQwOGNkYzFjOWRkXkEyXkFqcGdeQXVyNzU1NzE3NTg@._V1_QL75_UX500_CR0,47,500,281_.jpg" class="card-img-top" alt="...">
    </div>
    <div class="col col-8">
        <div class="d-flex">
            <div>6570 ნახვა</div>
            <div class="ms-5">07/12/2024 16:15</div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Product Name</h5>
            <p class="fw-bold card-text"> 35$ </p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>
{% endblock %}